-- db/init.sql
CREATE DATABASE IF NOT EXISTS weather; -- si usas DB named 'weather'

\connect weather;

CREATE TABLE IF NOT EXISTS weather_logs (
  id SERIAL PRIMARY KEY,
  station_id INT NOT NULL,
  temperature NUMERIC NOT NULL,
  humidity NUMERIC NOT NULL,
  pressure NUMERIC,        -- opcional si lo usas
  wind_speed NUMERIC,
  raw_payload JSONB,      -- guarda el JSON original por trazabilidad
  created_at TIMESTAMPTZ DEFAULT now()
);

CREATE TABLE IF NOT EXISTS weather_errors (
  id SERIAL PRIMARY KEY,
  payload JSONB,
  error TEXT,
  ts TIMESTAMPTZ DEFAULT now()
);
